.way__paragraph{
  padding-bottom: 50px;
}
.way__paragraph:last-child{
  padding-bottom: 0;
}

@media screen and (max-width:1500px) {
  .way__paragraph {
    padding-bottom: 30px;
  }
}


@media screen and (max-width:1280px) {
  .way__paragraph {
    padding-bottom: 19px;
  }
}

