@keyframes scroll {
  0% {
    transform: translate(0, 600px);
    opacity: 0;
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
  }
}
.scroll {
  animation: scroll 2.5s 1 ease-in-out;
}

