.row {
  display: grid;
  gap: 126px;
  max-width: 2570px;
  grid-template-columns: repeat(4, 1fr)
}

@media screen and (max-width: 1900px) {
  .row {
    gap: 70px;
  }
}

@media screen and (max-width: 1024px) {
  .row {
    gap: 50px;
    grid-template-columns: repeat(2, 1fr)
  }
}

@media screen and (max-width: 400px) {
  .row {
    grid-template-columns: 1fr;
  }
}
