.page__main {
  padding-top: 115px;
}

@media screen and (max-width: 1900px) {
  .page__main {
    padding-top: 47px;
  }
}

@media screen and (max-width: 1024px) {
  .page__main {
    padding-top: 30px;
  }
}

@media screen and (max-width: 380px) {
  .page__main {
    padding-top: 20px;
  }
}
