@media screen and (max-width: 768px){
  .header__navigation {
    display: block;
    position: absolute;
    top: 35px;
    left: 0;
    background: rgb(255, 255, 255);
    box-shadow: #ccc;
    width: 100%;
    transition: all 0.2s ease;
    left:-100%;
    z-index: 1;
  }
  .header__navigation.open-menu{
      left:0;
  }
}
