.footer__text {
  font-size: 54px;
  line-height: 1;
  font-weight: 900;
  margin: 0 auto;
  z-index: 1;
}

@media screen and (max-width: 1900px) {
  .footer__text {
    font-size: 46px;
  }
}

@media screen and (max-width: 1024px) {
  .footer__text {
    font-size: 32px;
  }
}

@media screen and (max-width: 768px) {
  .footer__text {
    font-size: 22px;
  }
}
