.intro__text{
  width: 50%;
  display: flex;
  flex-direction:column;
  gap: 70px;
}

@media screen and (max-width: 1280px) {
  .intro__text{
    gap: 29px;
  }
}

@media screen and (max-width: 768px) {
  .intro__text{
    width: 80%;
    gap: 20px;
    text-align: center;
  }
  }
