.intro {
  display: flex;
  justify-content: space-between;
  width: 82.3%;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    flex-direction: column;
    gap: 40px;
  }
}

@media screen and (max-width: 380px) {
  .intro {
    gap: 20px;
  }
}
