.intro {
  display: flex;
  justify-content: space-between;
  width: 82.3%;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    justify-content: center;
    color: white;
  }
}
