.way__image {
  width: calc(100%/2);
  object-fit: cover;
  height: calc(50vw * 0.833);
  max-height: 1200px;
  transition: all 1s ease;
}

@media screen and (min-width: 700px) {
  .way:hover .way__image {
    width: 40%;
  }
}

@media screen and (max-width: 1044px) {
  .way__image {
    width: calc(100%/3);
  }
}

@media screen and (max-width: 720px) {
  .way__image {
    width: 100%;
    height: calc(50vw * 0.9);
  }
  .way:hover .way__image {
    height: calc(70vw);
  }
}



