.header__container {
  padding: 0 155px;
}

@media screen and (max-width: 1900px) {
  .header__container {
    padding: 0 70px;
  }
}

@media screen and (max-width: 1024px) {
  .header__container {
    padding: 0 48px;
  }
}

@media screen and (max-width: 380px) {
  .header__container {
    padding: 0 20px;
  }
}


