.intro__image{
  width: 33.75%;
  object-fit: cover;
  padding-top: 33.75%;
  background-image: url(../../../images/intro-image.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
