.intro__image{
  width: 33.75%;
  object-fit: cover;
  padding-top: 33.75%;
  background-image: url(../../../images/intro-image.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
  .intro__image {
    width: 40%;
    padding-top: 40%;
  }
}

@media screen and (max-width: 768px) {
  .intro__image {
    width: 100%;
    padding-top: 60%;
    background-position: top;
  }
}
