.way {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-color: #f2f2f2;
}
@media screen and (max-width: 1044px){
  .way:nth-child(2n) {
    background-color: #ffffff;
  }
}

@media screen and (max-width: 720px){
  .way{
    flex-direction: column;
  }
  .way:nth-child(2n) {
    flex-direction: column-reverse;
    background-color: #f2f2f2;
  }
}

